<p id="notice"><%= notice %></p>

<div ng-app="app">
  <div ng-controller="professorsCtrl" ng-init="setupProfessorIndex()">

  <p>Search by prof expertise name: <input ng-model='profExpertiseNameFilter.expertises'></p>

  <h2>Angular Professors</h2>

  <ul>
    <li ng-repeat="prof in professors | filter: {name: profExpertiseNameFilter }">{{ prof.name}}</li>
  </ul>

  <p>Search by expertise name: <input ng-model='expertiseNameFilter'></p>

  <h2>Angular Expertises</h2>
  <ul>
    <li ng-repeat="exp in expertises | filter: {name: expertiseNameFilter}">{{ exp.name}}</li>
  </ul>

<multiple-autocomplete ng-model="selectedList"
     object-property="name"
     suggestions-arr="expertises">
</multiple-autocomplete>

<h1>Listing Professors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expertises</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professors.each do |professor| %>
      <tr>
        <td><%= professor.name %></td>
        <td><%= professor.expertises.map(&:name).sort.join(", ") %></td>
        <td><%= link_to 'Show', professor %></td>
        <td><%= link_to 'Edit', edit_professor_path(professor) %></td>
        <td><%= link_to 'Destroy', professor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<fieldset class="search-field">
  <legend>Search Our Database</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Name contains" %>
      <%= f.text_field :name_cont %>
    </div>

    <div class="field">
      <%= f.label "Area of Expertise" %><br />
      <%= f.collection_check_boxes :expertises_id_in_any, Expertise.all, :id, :name do |b| %>
        <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
        </div>
      <% end %>
    </div>

    <div class="actions"><%= f.submit "Search" %></div>
  <% end %>
</fieldset>

<br>

<%= link_to 'New Professor', new_professor_path %>

</div>
</div>